# Server port (Heroku sets this automatically)
PORT=3000

# Bridge server port (Windows machine)
BRIDGE_PORT=5000

# URL of the hardware bridge
# Allows the webpage view the hardware status
BRIDGE_URL=

# Toggle hardware vs simulation mode
USE_REAL_HARDWARE=false # default setting

# ThorLabs polarizer device serial number
DEVICE_ID=

# Path to ThorLabs Kinesis SDK (Windows only)
KINESIS_PATH=

# Local IP address of the Windows bridge machine (display only)
LOCAL_IP=